.upper{
    background-color: red;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 200px;

}
.middle{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 100px;
}

.lower{
    height: 100px;
    width: 100px;
    background-color: yellow;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0  ;
}

